<div id="message">
  <div style="position:fixed; z-index: 9999; top:0; left:0;right:0;bottom:0; background-color:black; opacity: 0.5;">
  </div>
  <div style="position:fixed;z-index: 10000;width:400px; height:300px;top:50%;left:50%;margin-left: -200px; margin-top: -150px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>