<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <% if !node.blank? %>
          <h2><%= node.title %></h2>
          <%= node.description %>
        <% else %>
          <h2>所有帖子</h2>
            全部帖子
        <% end %>
        | 共有帖子:
        <span class="color-sea">
          <% if node.blank? %>
            <%= Topic.count %>
          <% else %>
            <%= node.topics.count %>
          <% end %>
        </span>

      </div>
    </div>

  </div>
</div>

