<div class="row margin-bottom-40">
  <div class="col-sm-12">
    <% if user_signed_in? %>
      <%= link_to new_bbs_topic_path, class:"btn btn-u btn-u-lg btn-u-sea rounded btn-block" do %>
        <i class="fa fa-pencil-square-o">发布新话题</i>
      <% end %>
    <% else %>
      <%= link_to '发帖需要注册哦!', signup_path,class:'btn btn-u btn-u-lg btn-u-sea rounded btn-block' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        欢迎来到雪圈网哦！
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><strong>热门话题:</strong></h4>
        <% Topic.desc(:comment_count).limit(3).each do |topic| %>
          <h5><%= link_to topic.title , bbs_topic_path(topic) %></h5>
        <% end %>
      </div>
    </div>
  </div>
</div>