<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<style>
  .text-center{
      text-align: center;
  }
</style>
<body>
<h1 class="text-center">
  <img src="http://snowooo-cdn.qiniudn.com/snowooolog.png?imageMogr2/thumbnail/200x/crop/!200x200a4a30" alt=""/>
  </h1>
<h2 class="text-center">欢迎来到雪圈网, <%= @user.name %></h2>
<p  class="text-center">
  您已经成功注册雪圈网
</p>
<p  class="text-center">
  点击此链接登录雪圈网: <%= @url %>.
</p>
<h5>欢迎来到雪圈网这个大家庭!</h5>
</body>
</html>