



<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <% if  can? :create, Video%>
        <%= link_to 'New Video', new_video_path %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-10">
    <% @videos.each do |video| %>
      <div class="thumbnails thumbnail-style" style="width:200px;height:155px;float:left;margin:40px 10px;">
        <%= link_to(video, { class: "fancybox-button zoomer" , :"data-rel" => "fancybox-button"}) do %>
          <span class="overlay-zoom">  
              <img class="img-responsive" src="<%= video.thumbnail %>" style="width:100%">
              <span class="zoom-icon"></span>
          </span>                                              
        <% end %>
        <div class="caption" style="padding:5px;">
            <h6><%= link_to video.title, video, class:"hover-effect" %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

