// Place all the styles related to the bbs::topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row.topic{
  padding-left: 15px;
  border-bottom: 1px solid #f0f0f0;
  margin-top:8px;
}
.topic .comment-count{
  margin-top:20px;
}

.bbs .header-fixed-shrink .navbar{
  margin-top:15px;
}
