
<div class="row">
  <div class="col-sm-12">

    <h3>选择风格</h3>
    <ul class="list-unstyled">
      <% Snowboot.pluck(:style).flatten.uniq.each do |style,index| %>
        <li> <%= link_to t(style.downcase), snowboots_path(:"styles[]" => style)%></li>
      <% end %>
    </ul>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>选择品牌</h3>
    <ul class="list-unstyled">
      <% Snowboot.pluck(:brand).flatten.uniq.each do |brand,index| %>
        <li><%= link_to brand, snowboots_path(:"brands[]" => brand) %></li>
      <% end %>
    </ul>
    <hr/>
  </div>

</div>

