<table class="table">
  <thead>
    <tr>
      <th>键</th>
      <th>值</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.key %></td>
        <td><%= setting.value %></td>
        <td><%= link_to "更改", edit_admin_setting_path(setting)%></td>
      </tr>
    <% end %>
  </tbody>
</table>