<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><%= link_to '所有资讯', posts_path, class:"btn-u rounded-3x btn-u-purple" %></li>
      <% PostNode.all.each do |p| %>
          <li style="padding-top:5px;">
            <%= link_to p.title, posts_node_path(p),class: ( @node.present? and  @node.id == p.id ) ? "btn-u rounded-3x btn-u-default":"btn-u rounded-3x btn-u-purple" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>