// Place all the styles related to the snowboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.snowboard-box{
  width:250px;
  float:left;
  margin: 20px;
}