// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_node{
  float:right;
  margin-bottom:12px;
  a{
    padding-left:5px;
    color: #555;

    &.active{
      color:#72c02c;
    }
  }
}

.post_recent{
  width:50%;
  padding:10px;
  display: inline-block;
  float: left;
  position:relative;
  .img{
    width:50%;
    float: left;
    display: inline-block;
  }

  .info{
    margin-left:190px;
    .desc{
      display: none;
    }
    .title{
      font-size:14px;
    }

    .by-author{
      font-size:12px;
    }
  }

  &:nth-child(1),&:nth-child(2){
    height:390px;

    .img{
      width:100%;
      float:none;
    }
    .info{
      margin-left:0px;
      .title{
        color:#555;
        font-size:18px;
      }

      .desc{
        display:block;
      }

      .by-author{
        color:gainsboro;
      }


    }
  }
}

@media (max-width: 750px) {
  .post_recent{
    width:100%;
    padding:10px;
    display: inline-block;
    float: left;
    position:relative;
    .img{
      width:30%;
      float: left;
      display: inline-block;
    }

    .info{
      .desc{
        display: none;
      }
      .title{
        font-size:12px;
      }
    }

    &:nth-child(1),&:nth-child(2){


      .img{
        width:100%;
        float:none;
      }
      .info{
        margin-left:0px;
        .title{
          color:#555;
          font-size:18px;
        }

        .desc{
          display:block;
        }

        .by-author{
          color:gainsboro;
        }


      }
    }
  }

}

.guanzhuwomen{
  font-size:30px;
  .fa-weibo{
    color:#ec7e57;
  }
  .fa-weixin{
    color:#9bc47d;
  }
}