<h1>编辑用户</h1>

<%= render 'form' %>

<hr/>
<%= link_to '返回详情页', admin_user_path(@admin_user), class:"btn btn-default btn-xs" %>
<%= link_to '返回用户列表', admin_users_path, class:"btn btn-default btn-xs" %>
