<h1>New snowboard</h1>

<div class="row">
  <div class="col-xs-8">
    <%= render 'form' %>
  </div>
  <div class="col-xs-4">
    
  </div>
</div>

<br>
<%= link_to 'Back', snowboards_path,class:"btn-u-default btn-u" %>
