<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">
        <!-- About -->
        <div class="headline"><h2>关于雪圈网</h2></div>
        <p class="margin-bottom-25 md-margin-bottom-40">
          <script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=4194692985026132807') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
        </p>
        <!-- End About -->
      </div><!--/col-md-4-->

      <div class="col-md-4 md-margin-bottom-40">
        <!-- Recent Blogs -->
        <div class="posts">
          <div class="headline"><h2>合作伙伴</h2></div>

          <a href="https://www.upyun.com/"><img style="background-color:white;" src="http://upfiles.b0.upaiyun.com/logo/120x60.png" alt="UPYUN"></a>
        </div>
        <!-- End Recent Blogs -->
      </div><!--/col-md-4-->

      <div class="col-md-4">
        <!-- Contact Us -->
        <div class="headline"><h2>联系我们</h2></div>
        <address class="md-margin-bottom-40">
          北京市中关村 <br>
          雪圈网总部<br>
          电话: 110 <br>
          邮箱: <a href="mailto:sdr@vip.sina.com" class="">sdr@vip.sina.com</a>
        </address>
        <!-- End Contact Us -->

        <!-- Social Links -->
        <div class="headline"><h2>在社交媒体上的我们</h2></div>
        <ul class="social-icons">
          <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
        </ul>
        <!-- End Social Links -->
      </div><!--/col-md-4-->
    </div>
    <div class="row">
      <div class="text-center">

      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= year %> © Snowooo. 保留所有权力. 京ICP备14050325号-1
        </p>
      </div>
    </div>
  </div>
</div>