<div class="headline headline-md blue"><h2>关注我们</h2></div>
<div class="col-xs-12">
  <div class="center-block">
    <div class="guanzhuwomen">
      <span class="fa fa-weixin"
            data-container="body"
            data-trigger="hover"
            data-toggle="popover"
            data-placement="bottom"
            data-content="<img src='http://snowooo-cdn.qiniudn.com/qrcode_for_gh_5db68f90c722_258.jpg' class='img-responsive'/>"
            data-html="true"
      ></span>
      <a href="http://weibo.com/u/2042499585" target="_blank" class="fa fa-weibo" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="在微博上关注我们">
      </a>
    </div>
  </div>
</div>