<hr/>
<h5>分享到我的社交网站:</h5>
<%= social_share_button_tag("#{content} @雪圈网snowooo snowooo.com", :image => "http://snowooo-cdn.qiniudn.com/snowooolog.png?imageMogr2/thumbnail/200x/crop/!200x200a4a30", desc: "雪圈网") %>