<div class="row">
  <div class="col-sm-9">
    <% @places.in_groups_of(4,false) do |places| %>
        <div class="row">
        <%= render partial: 'place', collection: places %>
        </div>
    <% end %>
    <div class="text-center">
      <%= will_paginate @places , renderer: BootstrapPagination::Rails%>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'region_side_bar' %>
  </div>
</div>
