<div class="row">
  <div class="col-sm-10">
    <%= render partial: 'place', collection: @places %>
    <div class="text-center">
      <%= will_paginate @places %>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
